* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 700px;
    height: 400px;
    overflow: hidden;
    resize: none;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    color: black;
    gap: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button, h1{
    font-family: 'Press Start 2P', cursive;
}

.menu {
    display: flex;
    gap: 30px;
    margin-bottom: 5px;
}

.personaggio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personaggio button:first-child {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: #555;
}

textarea {
    width: 100%;
    resize: none;
    display: none;
}

#description_section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#close_description {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto;
}


#close_description:hover {
    background-color: #555;
}
#description {
    display: block;
    border-radius: 5px;
    box-sizing: border-box; 
}