:root {
  --black: #222121;
  --white: #f0f0f0;
  --accent-color: linear-gradient(135deg, #8a0576, #120446);
  --secondary-color: #f0f0f0;
  --shadow-color: #797979e3;
  --font-small: 0.8rem;
  --font-mid: 1.2rem;
  --font-big: 2rem;
  --font-biggest: 3rem;
  --gap-small: 0.5rem;
  --gap-mid: 1rem;
  --gap-big: 2rem;
  font-size: 16px;
}

@media screen and (max-height: 600px) {
  :root {
    font-size: 12px;
  }

  .button {
    font-size: var(--font-small);
  }
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('assets/font/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-fullvh {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-justify {
  justify-content: center;
}

.flex-align {
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.gap-small {
  gap: 0.5rem;
}

.gap-mid {
  gap: 1rem;
}

.gap-big {
  gap: 2rem;
}

.font-small {
  font-size: var(--font-small);
}

.font-mid {
  font-size: var(--font-mid);
}

.font-big {
  font-size: var(--font-big);
}

.font-biggest {
  font-size: var(--font-biggest);
}

.text-color {
  color: var(--text-color);
}

.button {
  width: 128px;
  height: 48px;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  color: var(--white);
  font-size: var(--font-mid);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

.button-primary {
  background-color: blueviolet;
  background: var(--accent-color);
  color: black;
}

#canvas {
  background-color: var(--black);
}

#game-header {
  min-height: 48px;
  background-color: var(--black);
  border-bottom: 1px solid var(--white);
}

h1,
h2,
h3,
button,
p,
input {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: var(--font-big);
}

.button-secondary {
  border: none;
  background-color: transparent;
  color: white;
  width: fit-content;
}
